# .NET Core
project.lock.json
.project.json.user
.project.json
*.suo
*.user
*.userosscache
*.sln.docstates
bin/
obj/
nupkg/
.env

# Visual Studio Code
.vscode/
*.swp
*.bak
*.user
*.exe
*.dll
*.pdb
*.o
*.obj
*.pidb
*.userprefs
*.bak
*.cache
*.ilk
*.log
*.lib
*.ncb
*.sdf
*.sbr
*.idb
*.ipch
*.swp
*.vspscc
*.vssscc
.builds
*.pidb
*.log
*.scc

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/